.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
}

.leftSide a
{
    text-decoration: none;
}
.leftSide h3 {
    font-size: 24px;
    font-family: Roboto;
    color: #6055E6;
}



.rightSide ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.rightSide ul li {
    padding: 0px 15px;

}

.rightSide ul li a {
    color: #272727;
    font-family: Roboto;
    text-decoration: none;
    font-size: 18px;


}

.rightSide ul li button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: Roboto;
    font-size: 18px;

}